.confirmOrderModal {
  width: 600px;
  height: fit-content;
}

.confirmOrderModal svg {
  margin-bottom: 30px;
}

.confirmOrderModal h1 {
  color: var(--Rose900);
}

.confirmOrderModal button {
  width: 512px;
}

.orderConfirmed {
  color: var(--Rose900);
  margin-bottom: 15px;
}

.enjoyYourFood {
  color: var(--Rose500);
}

.orderSummary {
  background-color: var(--Rose100);
  border-radius: 6px;
  width: 512px;
  margin: 30px 0;
  padding: 24px;
}

.orderTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderTotal p {
  color: var(--Rose500);
}

.orderTotal h2 {
  margin: 0;
  color: var(--Rose900);
}