.itemCard {
  width: 200px;
  /* to position add to cart button */
  position: relative;
}

.selected {
  outline: 2px solid var(--Red);
}

.category {
  font-size: 12px;
  margin-top: 25px;
  color: var(--Rose500);
}

.name {
  font-size: 14px;
  margin: 5px 0;
  color: var(--Rose900);
}

.itemCard img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
  /* box-sizing: content-box; */
}

@media (max-width: 375px) {
  .itemCard img {
    width: 328px;
    height: 210px;
  }
}

.itemPrice {
  font-size: 12px;
  font-weight: 600;
  color: var(--Red);
}