.itemCard {
  width: 200px;
  /* to position add to cart button */
  position: relative;
}

.category {
  font-size: 10px;
  margin-top: 25px;
  color: var(--Rose500);
}

.name {
  font-size: 12px;
  margin: 5px 0;
  color: var(--Rose700);
}

.itemCard img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.itemPrice {
  font-size: 12px;
  font-weight: 600;
  color: var(--Red);
}