.itemCard {
  width: 200px;
  /* to position add to cart button */
  position: relative;
}

.selected {
  outline: 2px solid var(--Red);
}

.category {
  font-size: 12px;
  margin-top: 25px;
  color: var(--Rose500);
}

.name {
  font-size: 14px;
  margin: 5px 0;
  color: var(--Rose900);
}

.itemCard img {
  width: 200px;
  height: 200px;
  border-radius: 6px;
}

.itemPrice {
  font-size: 12px;
  font-weight: 600;
  color: var(--Red);
}

@media (max-width: 375px) {
  .itemCard {
    width: 328px;
  }

  .itemCard img {
    width: 328px;
    height: 210px;
  }

  .name {
    font-size: 18px;
  }

  .category {
    font-size: 16px;
  }

  .itemPrice {
    font-size: 16px;
  }
}