.active {
  width: 130px;
  height: 32px;
  position: absolute;
  top: calc(200px - 16px);
  left: calc((200px - 130px) / 2);
  cursor: pointer;
  background-color: var(--Red);
  border-radius: 16px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 375px) {
  .active {
    position: absolute;
    width: 160px;
    height: 42px;
    border-radius: 21px;
    top: calc(210px - 21px);
    left: calc((328px - 160px) / 2);
  }
}

.active p {
  font-size: 12px;
  font-weight: 600;
  color: white;
  margin: 0 auto;
}

.iconContainer svg {
  height: 14px;
  width: 14px;
  padding: 3px;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px white solid;
  border-radius: 50%;
  margin: 0;
}

.iconContainer:hover {
  background-color: white;
}

.iconContainer:hover path {
  fill: var(--Red);
}

.iconDec {
  margin-left: 14px;
}

.iconInc {
  margin-right: 14px;
}