.cartItem {
  display: flex;
  border-bottom: 1px solid var(--Rose100);
  padding-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.cartItemName {
  color: var(--Rose900);
  font-size: 14px;
  font-weight: 600;
}

.removeItem {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  border: 1px solid var(--Rose300);
  border-radius: 100%;
}

.removeItem svg {
  width: 16px;
  height: 16px;
  padding: 3px;
}

.removeItem path {
  fill: var(--Rose300);
}

.removeItem:hover path {
  fill: var(--Rose500);
}

.removeItem:hover {
  border-color: var(--Rose500);
}


.subTotals {
  display: flex;
  width: 200px;
  font-size: 14px;
  margin: 8px 0;
}

.subTotals .stAmount {
  color: var(--Red);
  font-weight: bold;
  margin-right: 15px;
}

.subTotals .stPrice {
  color: var(--Rose500);
  margin-right: 15px;
}

.subTotals .stTotal {
  color: var(--Rose600);
}