.cartItem {
  display: flex;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.removeItem {
  margin-left: auto;
  margin-top: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.removeItem svg {
  width: 16px;
  height: 16px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 50%;
}