.inactive {
  width: 130px;
  height: 32px;
  position: absolute;
  top: calc(200px - 16px);
  left: calc((200px - 130px) / 2);
  cursor: pointer;
  background-color: white;
  border: 1px var(--Rose500) solid;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .inactive {
    position: absolute;
    width: 160px;
    height: 42px;
    border-radius: 21px;
    top: calc(210px - 21px);
    left: calc((328px - 160px) / 2);
  }
}

.inactive svg {
  margin-right: 7px;
  height: 20px;
  width: 20px;
}

.inactive p {
  font-size: 14px;
  font-weight: 600;
}

.inactive:hover {
  color: var(--Red);
  border-color: var(--Red);
}